<h2>注册</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username, label: false, required: true, autofocus: true, placeholder: "用户名" %>
    <%= f.input :email, label: false, required: true, autofocus: true, placeholder: "邮箱"%>
    <%= f.input :password, label: false,required: true, placeholder: "密码， 6-16个字符，区分大小写" %>
    <%= f.input :password_confirmation, label: false,placeholder: "确认密码", equired: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "注册" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
