<div class="row">
  <% @meetups.each do |meetup| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to meetup_path(meetup) do %>
        <% if meetup.image.present? %>
          <%= image_tag(meetup.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= meetup.title %> ￥ <%= meetup.price %>
      <br />
      #<%= meetup.category.name %>#
    </div>
  <% end %>
</div>
