<h2>编辑聚会</h2>

<%= simple_form_for [:admin, @meetup] do |f| %>
  <div class="group">
    <%= f.input :title, label: "标题" %>
  </div>

  <div class="group">
    <%= f.input :description, label: "描述" %>
  </div>

  <div class="group">
    <%= f.input :quantity, label: "门票数量"%>
  </div>

  <div class="group">
    <%= f.input :price, label: "价格" %>
  </div>

  <div class="group">
      <%= f.select :category_id, @categories %>
  </div>

  <% if @meetup.image.present? %>
    <span>当前图片</span><br />
    <%= image_tag(@meetup.image.thumb.url) %>
  <% end %>

  <div class="group">
    <%= f.input :image, as: :file %>
  </div>

  <%= f.submit "提交", data: {disable_with: "Submitting..."} %>
<% end %>
