<h2>Meetup List</h2>

<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("新增聚会", new_admin_meetup_path, class: "btn btn-primary btn-sm") %>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th width="220">Meetup Pic</th>
      <th>标题</th>
      <th>价格</th>
      <th width="100">选项</th>
    </tr>
  </thead>
  <tbody>
    <% @meetups.each do |meetup| %>
      <tr>
        <td><%= meetup.id %></td>
        <td>
          <%= link_to meetup_path(meetup) do %>
            <% if meetup.image.present? %>
              <%= image_tag(meetup.image.thumb.url, class: "thumbnail") %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
            <% end %>
          <% end %>
        </td>
        <td><%= meetup.title %></td>
        <td><%= meetup.price %></td>
        <td><%= link_to("编辑", edit_admin_meetup_path(meetup)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
